.Navigation {
    .nav-wrapper {
        .nav-items {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            .nav-item-logo {
                outline: none;
                img {
                    outline: none;
                    height: 50px;
                    @include respond-to("large") {
                        height: 42px;
                    }
                }
            }
            .nav-item-links-container {
                .nav-item-link {
                    @include respond-to("xmedium") {
                        display: none;
                    }
                    @include remCalc(18px);
                    font-weight: 400;
                    color: $primaryGreen;
                    transition: all $aniTime ease-in-out;
                    text-decoration: none;
                    padding-bottom: 10px;
                    margin-left: 40px;
                    @include respond-to("large") {
                        margin-left: 25px;
                    }

                    &.active {
                        color: $primaryRed;
                    }
                    &:hover,
                    &:active,
                    &:focus {
                        opacity: 0.75;
                        border-bottom: 2px solid $primaryGreen;
                        img {
                            filter: brightness(75%);
                        }
                    }
                }
            }
        }
        .nav-item-mobile-menu {
            cursor: pointer;
            display: none;
            @include respond-to("xmedium") {
                display: block;
                @include remCalc(22px);
                color: $primaryGreen;
            }
        }
    }
}
